<footer class="footer" role="contentinfo">
    {{> components/psdc-common/usp-section}}
    <div class="footer-info-inn">
      <div class="container">
          <section class="footer-info">
            {{#if settings.address}}
              <article class="footer-info-col footer-info-col--small footer-store-info" data-section-type="storeInfo">                  
                  <div class="footer-logo">
                    <h2>
                      <a href="/">
                        <img class="header-logo-image-unknown-size" src="https://cdn11.bigcommerce.com/s-7ysyi43er1/images/stencil/original/logo_1671375904__44724.original.png" alt="Rebecca Taylor" title="Rebecca Taylor">
                      </a>
                    </h2>
                  </div>                  
              </article>
            {{/if}}
            {{#if pages}}
                <article class="footer-info-col footer-info-col--small" data-section-type="footer-webPages">
                  <div class="footer-info--col-inn">
                    <h3 class="footer-info-heading footer-toggle-title">{{lang 'footer.navigate'}}
                      <svg class="down"><use xlink:href="#icon-keyboard-arrow-down"></use></svg>
                    </h3>
                    <div class="footer-toggle-content">
                      <ul class="footer-info-list">
                        {{#each pages}}
                            {{#if @index '<' '7' }}
                                <li>
                                    <a href="{{url}}">{{name}}</a>
                                </li>
                            {{/if}}
                        {{/each}}
                      </ul>
                    </div>
                  </div>
                </article>
              {{/if}}

              {{#if categories}}
              <article class="footer-info-col footer-info-col--small" data-section-type="footer-categories">
                <div class="footer-info--col-inn">
                  <h3 class="footer-info-heading footer-toggle-title">{{lang 'footer.categories'}}
                    <svg class="down"><use xlink:href="#icon-keyboard-arrow-down"></use></svg>
                  </h3>
                  <div class="footer-toggle-content">
                    <ul class="footer-info-list">
                        {{#each categories}}
                          {{#if @index '<' '7' }}
                              <li>
                                  <a href="{{url}}">{{name}}</a>
                              </li>
                          {{/if}}
                        {{/each}}
                        <li class="view-all"><a href="/categories">{{lang 'common.view_all'}}</a></li>
                    </ul>
                  </div>
                </div>
              </article>
              {{/if}}
          </section>

        <div class="footer-mid-section">
          {{#if theme_settings.social_icon_placement_bottom '!==' 'bottom_none'}}
            <article class="footer-info-col
                footer-info-col--social
                footer-info-col--{{#if theme_settings.social_icon_placement_bottom '===' 'bottom_left'}}left{{else}}right{{/if}}"
                data-section-type="footer-webPages">
                    <h3 class="footer-info-heading">{{lang 'social.connect'}}</h3>
                    {{> components/common/social-links}}
            </article>
          {{/if}}
          {{#if settings.show_newsletter_box}}
            <article class="footer-info-col footer-info-newsletter" data-section-type="newsletterSubscription">
              <div class="footer-info-newsletter-inn">
                {{#if settings.show_newsletter_box}}
                    {{> components/common/subscription-form}}
                {{/if}}
              </div>
            </article>
          {{/if}}
          <article class="footer-info-col footer-info-col--payment">
            {{#or theme_settings.show_accept_amex theme_settings.show_accept_discover theme_settings.show_accept_mastercard theme_settings.show_accept_paypal theme_settings.show_accept_visa}}
              <div class="payment">
                <h3 class="footer-info-heading">{{lang 'payment-method.payment'}}</h3>
                {{> components/psdc-common/payment-icons}}
              </div>
            {{/or}}
          </article>
        </div>
      </div>
    </div>
    {{#or theme_settings.show_copyright_footer theme_settings.show_powered_by theme_settings.show_powered_by_bigcommerce}}
    <div class="footer-bar">
      <div class="container">
        <div class="footer-bar-inn">
          {{#or theme_settings.show_copyright_footer theme_settings.show_powered_by_bigcommerce}}
            <div class="footer-copyright">
                <p class="powered-by">
                    {{#if theme_settings.show_copyright_footer}}
                    <span>&copy; {{moment format="YYYY"}}</span>
                    <span class="theme-color">{{settings.store_name}}</span> <span class="line">|</span>
                    {{/if}}
                    {{#if theme_settings.show_powered_by_bigcommerce}}
                    <span class="bigcommerce" >Powered by <a href="https://www.bigcommerce.com/?utm_source=lifestyle&amp;utm_medium=poweredbyBC" rel="nofollow" target="_blank">BigCommerce</a>
                    <span class="line">|</span>
                    </span>
                    {{/if}}
                    <a class="site-map" href="{{urls.sitemap}}">{{lang 'sitemap.page_title'}}</a>
                    <span class="line">|</span>
                    <a class="privacy-policy" href="/privacy-policy/">{{lang 'privacy_policy.page_title'}}</a>
                    <span class="line">|</span>
                    <a class="terms-conditions" href="/terms-conditions/">{{lang 'terms_conditions.page_title'}}</a>
                    
                </p>
            </div>
          {{/or}}
          {{#if theme_settings.show_powered_by}}
              <div class="footer-copyright">
                  <p class="powered-by">BigCommerce Theme by <a class="theme-red-color" href="https://www.1center.co/" rel="nofollow" target="_blank">1Center</a></p>
              </div>
          {{/if}}
        </div>
      </div>
    </div>
    {{/or}}
    {{{region name="ssl_site_seal--global"}}}
</footer>
